@{
    Layout = null;
}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>First Issue - @ViewBag.Title</title>
        <meta name="description" content="@ViewBag.Description">
        <meta name="viewport" content="width=device-width">

        <link rel="shortcut icon" href="@Url.Content("~/Content/Images/Icons/favicon.ico")" />
        <link rel="apple-touch-icon" sizes="57x57" href="@Url.Content("~/Content/Images/Icons/icon-iphone-1x.png")" />
        <link rel="apple-touch-icon" sizes="114x114" href="@Url.Content("~/Content/Images/Icons/icon-iphone-2x.png")" />
        <link rel="apple-touch-icon" sizes="72x72" href="@Url.Content("~/Content/Images/Icons/icon-ipad-1x.png")" />
        <link rel="apple-touch-icon" sizes="144x144" href="@Url.Content("~/Content/Images/Icons/icon-ipad-2x.png")" />

        @Styles.Render(Links.bundles.styles.common)

        @RenderSection("Head", false)
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="brand" href="@Url.Home()">First Issue</a>                    
                </div>
            </div>
        </div>
        <div class="container">
            @RenderBody()
            @{Html.RenderPartial(MVC.Shared.Views.Footer);}
        </div>
        @Scripts.Render(Links.bundles.scripts.jquery)
        @Scripts.Render(Links.bundles.scripts.common)        
        @RenderSection("Scripts", false)
    </body>
</html>