<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
        <title>First Issue</title>

        <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/normalize.min.css")" />
        <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/main.css")" />

    </head>
    <body>
        <img src="@Url.Content("~/content/logo.png")" height="127" width="358" alt="First Issue" class="logo" />        
        <div class="tagline">Redefining the magazine for the digital age</div>

        <hr />

        <div class="textWrap">
            <p>First Issue is a new publishing platform that will allow you to create simple, content oriented digital magazines and distribute them to Apple's Newsstand.</p>
            <p>To publish to a potential audience of hundreds of millions of readers, it's as simple as,</p>

            <ol>
                <li>Create your magazine.  Setup branding, look and feel, and subscription options</li>
                <li>Author your content directly in our article editor</li>
                <li>One click to push Issues to subscribers</li>
            </ol>

            <p>That's it. We handle the creation and registration of the Newsstand app with Apple and the difficult technical details of pushing your content to 
            subscribers leaving you free to concentrate on what you do best - creating compelling content for your magazine.</p>
        </div>   
        
        <hr />

        <div class="follow">
            <a href="https://twitter.com/FirstIssueApp" class="twitter-follow-button" data-show-count="false" data-size="large">@Html.Raw("Follow @FirstIssueApp")</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </div>
    </body>
</html>